[user]
	name = Adrian
	email = code@adekirk.co.uk

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch

    # Logging

    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10 # Nice pretty log
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short -10
    last = log -1 HEAD
